#ending with ~
*~
#swp of gvim
*.swp

#CMake stuff
CMakeCache.*
CMakeFiles/
Makefile
*.cmake

#bin
bin/
libs/
obj/
*.pyc

#visual studio .sln
Release/
*.user
*.suo
*.sdf
*.opensdf

# use opencv
ipch/

# YCM
*.json
